/* Fonts */
@import url(https://www.fontsquirrel.com/fonts/source-sans-pro);
@import url(https://www.fontsquirrel.com/fonts/Spin-Cycle-OT);

/* ==== Global ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: #d36516b5;
    text-decoration: underline;
    font-weight: bold;
}
/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 170px;
    color: whitesmoke;
    text-align: center;
}
.header-content h1 {
    font-size: 7vmin;
}
.header-content h2{
    font-size: 4vmin;
    margin-top: 10px;
    margin-bottom: 50px;
}
.line {
    width: 100px;
    height: 2px;
    background-color: whitesmoke;
    margin: auto auto;
}
.ctn {
    padding: 10px 15px;
    background-color: #fc036b;
    color: whitesmoke;
    border-radius: 30px;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484879;
        margin-top: 900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin: 0px;
        border-top-left-radius: 30px;
    }
    .nav-links li {
        margin: 30px auto;
    }
}
